<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Admin Users</title>
  <link rel="icon" href="../images/CompleteGreet/FavIcon.png">

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="/Assets/plugins/fontawesome-free/css/all.min.css">
  <!-- DataTables -->
  <link rel="stylesheet" href="/Assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="/Assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
  <link rel="stylesheet" href="/Assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/Assets/dist/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="/" class="nav-link">Home</a>
      </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">

      <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
          <i class="fas fa-expand-arrows-alt"></i>
        </a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->
  <% include ./SideBar.ejs%>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>DataTables</h1>
          </div>
          <div class="col-sm-6">

          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Users</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>ID</th>
                    <th> Name</th>
                    <th>Email</th>
                    <th>Edit</th>
                  </tr>
                  </thead>
                 <tbody>
                 <%Users.forEach(user=>{%>
                 <tr>
                   <td data-gramm_editor="false" class="table-cell"><%=user.id%></td>
                   <td data-gramm_editor="false" class="table-cell"><%=user.Name%></td>
                   <td data-gramm_editor="false" class="table-cell"><%=user.email%></td>
                   <td data-gramm_editor="false" class="table-cell"><button type="button" class="btn w-100 btn-success User-Modal-Btn" data-userid="<%=user.id%>" data-toggle="modal" data-target="#UsersInfoModal"><i class="fa-solid fa-pen-to-square"></i></button></td>
                 </tr>
                 <%})%>
                 </tbody>
                  <tfoot>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Edit</th>
                  </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Subscribers</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="Subscribers" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>ID</th>
                    <th>Plan Name</th>
                    <th>Subscriber</th>
                    <th>Subscriber ID</th>
                    <th>Is Active</th>
                    <th>Is Finished</th>
                    <th>Duration</th>
                    <th>Price</th>
                    <th>Current Month</th>
                    <th>End Subscription Date</th>
                  </tr>
                  </thead>
                 <tbody>
                 <%Subscribers.forEach(subscriber=>{%>
                 <tr>
                   <td data-gramm_editor="false" class="table-cell"><%=subscriber.id%></td>
                   <td data-gramm_editor="false" class="table-cell"><%=subscriber.PName%></td>
                   <td data-gramm_editor="false" class="table-cell"><%=subscriber.Subscriber%></td>
                   <td data-gramm_editor="false" class="table-cell"><%=subscriber.SubscriberID%></td>
                   <td data-gramm_editor="false" class="table-cell"><%=subscriber.isActive%></td>
                   <td data-gramm_editor="false" class="table-cell"><%=subscriber.isFinished%></td>
                   <td data-gramm_editor="false" class="table-cell">
                     <%if(subscriber.Duration==12){ %>
                       1 Year
                     <% }else{%>
                       1 Month
                     <% }%>
                   </td>
                   <td data-gramm_editor="false" class="table-cell"><%=subscriber.Price%></td>
                   <td data-gramm_editor="false" class="table-cell"><%=subscriber.CurrentMonth%></td>
                   <td data-gramm_editor="false" class="table-cell"><%=subscriber.EndSubscribeDate.toUTCString().slice(0,-12)%></td>
                 </tr>
                 <%})%>
                 </tbody>
                  <tfoot>
                  <tr>
                    <th>ID</th>
                    <th>Plan Name</th>
                    <th>Subscriber</th>
                    <th>Subscriber ID</th>
                    <th>Is Active</th>
                    <th>Is Finished</th>
                    <th>Duration</th>
                    <th>Price</th>
                    <th>Current Month</th>
                    <th>End Subscription Date</th>
                  </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <div class="p-3">
      <h5>Title</h5>
      <p>Sidebar content</p>
    </div>
  </aside>
  <!-- /.control-sidebar -->

</div>
<!-- ./wrapper -->
<!-- ----------- Users Modal ------- -->

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade p-md-4 p-2" id="UsersInfoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg mw-100" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <label for="FTitle">User Name</label>
              <input type="text" value="" class="form-control" id="FTitle"
                     aria-describedby="emailHelp" placeholder="Type...">
              <small id="emailHelp" class="form-text text-muted"></small>
            </div>
            <div class="col-md-6">
              <label for="FTitle">User Email</label>
              <input type="text" value="" class="form-control" id="FTitle"
                     aria-describedby="emailHelp" placeholder="Type...">
              <small id="emailHelp" class="form-text text-muted"></small>
            </div>
            <div class="col-md-6">
              <label for="FTitle">User Password</label>
              <input type="text" value="" class="form-control" id="FTitle"
                     aria-describedby="emailHelp" placeholder="Type...">
              <small id="emailHelp" class="form-text text-muted"></small>
            </div>
            <div class="col-md-6">
              <label for="FTitle">User Business Name</label>
              <input type="text" value="" class="form-control" id="FTitle"
                     aria-describedby="emailHelp" placeholder="Type...">
              <small id="emailHelp" class="form-text text-muted"></small>
            </div>
            <div class="col-md-6">
              <label for="FTitle">User Industry</label>
              <input type="text" value="" class="form-control" id="FTitle"
                     aria-describedby="emailHelp" placeholder="Type...">
              <small id="emailHelp" class="form-text text-muted"></small>
            </div>
            <div class="col-md-6">
              <label for="FTitle">User Website URL</label>
              <input type="text" value="" class="form-control" id="FTitle"
                     aria-describedby="emailHelp" placeholder="Type...">
              <small id="emailHelp" class="form-text text-muted"></small>
            </div>
            <div class="col-md-6">
              <label for="FTitle">User Goals</label>
              <input type="text" value="" class="form-control" id="FTitle"
                     aria-describedby="emailHelp" placeholder="Type...">
              <small id="emailHelp" class="form-text text-muted"></small>
            </div>
            <div class="col-md-6">
              <label for="FTitle">User UserGroup</label>
              <input type="text" value="" class="form-control" id="FTitle"
                     aria-describedby="emailHelp" placeholder="Type...">
              <small id="emailHelp" class="form-text text-muted"></small>
            </div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="UserSave-Btn"  class="btn btn-success">Save</button>
      </div>
    </div>
  </div>
</div>
<!-- REQUIRED SCRIPTS -->
<% include ../toasts.ejs%>
<!-- jQuery -->
<script src="/Assets/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/Assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables  & Plugins -->
<script type="application/javascript" src="../js/fontawesome.js"></script>

<script src="/Assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/Assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/Assets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/Assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/Assets/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="/Assets/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="/Assets/plugins/jszip/jszip.min.js"></script>
<script src="/Assets/plugins/pdfmake/pdfmake.min.js"></script>
<script src="/Assets/plugins/pdfmake/vfs_fonts.js"></script>
<script src="/Assets/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="/Assets/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="/Assets/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print"]
      // "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    $("#Subscribers").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print"]
      // "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#Subscribers_wrapper .col-md-6:eq(0)');
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>
<!-- AdminLTE App -->
<script src="/Assets/dist/js/AdminEdits.js"></script>
<script src="/Assets/dist/js/adminlte.min.js"></script>
</body>
</html>
